In [1]:
import pandas as pd
import numpy as np

In [3]:
pokemon = pd.read_csv('/Users/bigsur/Documents/Data Science Hacktiv8 Batch 4/Grade Challenge/GC1/pokemon.csv')

In [58]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Nomor,Type_2,Nomor_id
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1,Poison,1
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,2,Poison,2
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,3,Poison,3
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,3,Poison,3
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,4,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,719,Fairy,719
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,719,Fairy,719
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,720,Ghost,720
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,720,Dark,720
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,721,Water,721

In [5]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [7]:
pokemon.describe().transpose()

            count       mean         std    min     25%    50%     75%    max
#           800.0  362.81375  208.343798    1.0  184.75  364.5  539.25  721.0
Total       800.0  435.10250  119.963040  180.0  330.00  450.0  515.00  780.0
HP          800.0   69.25875   25.534669    1.0   50.00   65.0   80.00  255.0
Attack      800.0   79.00125   32.457366    5.0   55.00   75.0  100.00  190.0
Defense     800.0   73.84250   31.183501    5.0   50.00   70.0   90.00  230.0
Sp. Atk     800.0   72.82000   32.722294   10.0   49.75   65.0   95.00  194.0
Sp. Def     800.0   71.90250   27.828916   20.0   50.00   70.0   90.00  230.0
Speed       800.0   68.27750   29.060474    5.0   45.00   65.0   90.00  180.0
Generation  800.0    3.32375    1.661290    1.0    2.00    3.0    5.00    6.0

In [56]:
pokemon['Nomor_id']=pokemon["#"]

In [57]:
pokemon.Nomor_id

0        1
1        2
2        3
3        3
4        4
      ...
795    719
796    719
797    720
798    720
799    721
Name: Nomor_id, Length: 800, dtype: int64

In [53]:
pokemon.HP[pokemon['HP']==1]

316    1
Name: HP, dtype: int64

In [60]:
pokemon[pokemon["HP"]==1]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Nomor,Type_2,Nomor_id
316,292,Shedinja,Bug,Ghost,236,1,90,45,30,30,40,3,False,292,Ghost,292

In [70]:
pokemon[['Attack','Defense']][pokemon['Attack']<=20]

     Attack  Defense
14       20       55
68       20       15
121       5        5
139      10       55
179      20       30
189      20       65
198      20       50
230      10      230
254      20       35
261      10       10
322      20       40
381      15       20
488       5        5
508      20       50

In [69]:
pokemon.Legendary[pokemon['Legendary']==True]

156    True
157    True
158    True
162    True
163    True
       ...
795    True
796    True
797    True
798    True
799    True
Name: Legendary, Length: 65, dtype: bool

In [63]:
pokemon[pokemon["Legendary"]==True]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Nomor,Type_2,Nomor_id
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True,144,Flying,144
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True,145,Flying,145
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True,146,Flying,146
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,150,NaN,150
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,150,Fighting,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,719,Fairy,719
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,719,Fairy,719
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,720,Ghost,720
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,720,Dark,720
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,721,Water,721

In [43]:
pokemon['Type_2']=pokemon['Type 2']

In [55]:
pokemon['Type_2'].isnull()

0      False
1      False
2      False
3      False
4       True
       ...
795    False
796    False
797    False
798    False
799    False
Name: Type_2, Length: 800, dtype: bool

In [49]:
pokemon['Type_2'].value_counts()

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: Type_2, dtype: int64

In [65]:
pokemon.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
Nomor           0
Type_2        386
Nomor_id        0
dtype: int64